<a href="https://colab.research.google.com/github/sukhadadh/myproject/blob/main/patient_records.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# saving Patient records by using pandas
# patent registaration by using pandas
import pandas as pd
from csv import writer

In [26]:
patient = {'patient_id':[],
'Name':[],'age':[],'gender':[],'issue_related':[],'Doctor_suggested':[]}

df = pd.DataFrame(patient)
df.to_csv("record1.csv")

In [39]:
i = int(input("Enter index:"))
pi = int(input("Enter Patient ID:"))
n = input("Enter Patient Name:")
a = int(input("Enter Age Of Patient:"))
g = input("Enter Gender:")
h = input("Issue Related To:")
d = input("Enter Name of Docter Sugessted")
p_records = [i,pi,n,a,g,h,d]
with open('record1.csv', 'a') as f_object:
  
    # Pass this file object to csv.writer()
    # and get a writer object
    writer_object = writer(f_object)
  
    # Pass the list as an argument into
    # the writerow()
    writer_object.writerow(p_records)
  
    #Close the file object
    f_object.close()

Enter index:5
Enter Patient ID:5
Enter Patient Name:gopal
Enter Age Of Patient:67
Enter Gender:M
Issue Related To:Kidny
Enter Name of Docter SugesstedDr.mittal

In [40]:
nt = pd.read_csv("record1.csv")
nt

   Unnamed: 0  patient_id    Name  age gender issue_related Doctor_suggested
0           4           4  ramesh   56      M          Eyes     Dr.chandwani
1           1           1    syam   67      M         Heart          Dr.shah
2           2           2   geeta   67      F          Eyes     Dr.chandwani
3           3           3   leela   78      F         Heart          Dr.shah
4           5           5   gopal   67      M         Kidny        Dr.mittal

In [41]:
nt.sort_values(by=['patient_id'])

   Unnamed: 0  patient_id    Name  age gender issue_related Doctor_suggested
1           1           1    syam   67      M         Heart          Dr.shah
2           2           2   geeta   67      F          Eyes     Dr.chandwani
3           3           3   leela   78      F         Heart          Dr.shah
0           4           4  ramesh   56      M          Eyes     Dr.chandwani
4           5           5   gopal   67      M         Kidny        Dr.mittal

In [42]:
nt[nt['gender']=='M']

   Unnamed: 0  patient_id    Name  age gender issue_related Doctor_suggested
0           4           4  ramesh   56      M          Eyes     Dr.chandwani
1           1           1    syam   67      M         Heart          Dr.shah
4           5           5   gopal   67      M         Kidny        Dr.mittal

In [44]:
nt[nt['age']>55]

   Unnamed: 0  patient_id    Name  age gender issue_related Doctor_suggested
0           4           4  ramesh   56      M          Eyes     Dr.chandwani
1           1           1    syam   67      M         Heart          Dr.shah
2           2           2   geeta   67      F          Eyes     Dr.chandwani
3           3           3   leela   78      F         Heart          Dr.shah
4           5           5   gopal   67      M         Kidny        Dr.mittal